<div class="page-header">

  <div>

    <h2>
      Laboratory Orders
    </h2>

    <p class="page-subtitle">
      Manage laboratory test orders for appointments
    </p>

  </div>


  <button
    mat-stroked-button
    type="button"
    (click)="openDialog()">

    <mat-icon>
      add
    </mat-icon>

    Add Laboratory Order

  </button>

</div>


@if (loading) {

  <div class="loading-container">

    <mat-spinner
      diameter="36">
    </mat-spinner>

    <span>
      Loading laboratory orders...
    </span>

  </div>

}


@if (!loading) {

  <div class="table-container">

    <table>

      <thead>

        <tr>

          <th>
            Appointment
          </th>

          <th>
            Patient
          </th>

          <th>
            Doctor
          </th>

          <th>
            Laboratory Test
          </th>

          <th>
            Appointment Date
          </th>

          <th>
            Price
          </th>

          <th>
            Actions
          </th>

        </tr>

      </thead>


      <tbody>

        @for (
          order of laboratoryOrders;
          track order.id
        ) {

          <tr>

            <td>

              <div class="primary-text">
                #{{ order.appointmentId }}
              </div>

            </td>


            <td>

              <div class="primary-text">
                {{ order.patientName }}
              </div>

            </td>


            <td>

              <div class="primary-text">
                {{ order.doctorName }}
              </div>

            </td>


            <td>

              <div class="primary-text">
                {{ order.laboratoryTestName }}
              </div>

            </td>


            <td>

              <div class="date-text">

                {{ order.appointmentDate
                  | date:'dd MMM yyyy, hh:mm a' }}

              </div>

            </td>


            <td>

              <div class="price-text">

                ₹{{ order.laboratoryTestPrice
                  | number:'1.2-2' }}

              </div>

            </td>


            <td>

              <div class="action-buttons">

                <button
                  mat-icon-button
                  type="button"
                  matTooltip="Edit laboratory order"
                  (click)="editLaboratoryOrder(order)">

                  <mat-icon>
                    edit
                  </mat-icon>

                </button>


                <button
                  mat-icon-button
                  type="button"
                  matTooltip="Delete laboratory order"
                  (click)="deleteLaboratoryOrder(order)">

                  <mat-icon>
                    delete
                  </mat-icon>

                </button>

              </div>

            </td>

          </tr>

        }


        @if (laboratoryOrders.length === 0) {

          <tr>

            <td
              colspan="7"
              class="empty-state">

              No laboratory orders found.

            </td>

          </tr>

        }

      </tbody>

    </table>

  </div>

}