<div class="profile-page">

  <div class="page-header">

    <div>

      <h2>My Profile</h2>

      <p>
        View your account information
      </p>

    </div>

  </div>


  @if (loading) {

    <div class="loading">
      Loading profile...
    </div>

  }


  @if (!loading && errorMessage) {

    <div class="error">
      {{ errorMessage }}
    </div>

  }


  @if (!loading && profile) {

    <div class="profile-card">

      <div class="profile-header">

        <div class="avatar">

          {{ profile.firstName.charAt(0) }}

        </div>

        <div>

          <h3>
            {{ profile.firstName }}
            {{ profile.lastName }}
          </h3>

          <span>
            {{ profile.role }}
          </span>

        </div>

      </div>


      <div class="profile-grid">

        <div class="profile-item">

          <label>First Name</label>

          <div>
            {{ profile.firstName }}
          </div>

        </div>


        <div class="profile-item">

          <label>Last Name</label>

          <div>
            {{ profile.lastName }}
          </div>

        </div>


        <div class="profile-item">

          <label>Email Address</label>

          <div>
            {{ profile.email }}
          </div>

        </div>


        <div class="profile-item">

          <label>Role</label>

          <div>
            {{ profile.role }}
          </div>

        </div>


        <div class="profile-item">

          <label>Public ID</label>

          <div>
            {{ profile.publicId }}
          </div>

        </div>

      </div>

    </div>

  }

</div>