.stat-card {

    background: white;

    border-radius: 15px;

    padding: 20px;

    display: flex;

    align-items: center;

    gap: 20px;

    box-shadow: 0 4px 15px rgba(0,0,0,.08);

    transition: .3s;
}

.stat-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(0,0,0,.15);

}

.icon{

    width:70px;

    height:70px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:30px;

}

.content h3{

    margin:0;

    font-size:28px;

    font-weight:700;

}

.content p{

    margin-top:8px;

    color:#777;

}